@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Atleticator</h1>
    <p>Sistema de apoio a atléticas.</p>
    <img width="50%" src="content/img/pngwing.com (1).png" />
</div>
