@{
    ViewData["Title"] = "Login";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Acesso ao sistema</p>
    <form action="/login" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" />
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input id="senha"></input>
        </div>
        <br>
        <div class="button">
            <button type="submit" class="btn btn-primary" style="width:30%">Entrar</button>
        </div>
        <div>
            <a class="nav-link text-dark" asp-area="" href="/home/RecuperarSenha">Esqueci minha senha.</a>
        </div>
        <div>
            <a class="nav-link text-dark" asp-area="" href="/home/CadastroUser">Cadastrar para acessar.</a>
        </div>
    </form>
</div>
