@{
    ViewData["Title"] = "Recuperar Senha";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p></p>
    <form action="/RecuperarSenha" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" />
        </div>
    <br>
        <div class="button">
            <button type="submit" class="btn btn-primary" style="width:30%">Enviar</button>
        </div>

    </form>
</div>
